{% extends 'base.html.twig' %}

{% block title %}EasyAds - Tchat{% endblock %}

{% block body %}
<div class="d-flex flex-column  justify-content-center align-items-center h-100">
        <div class="card-deck" style="width: 100%" align="center" >
            
        </div>
    </div>
    <div class="container m-5 ">
        {% for advert in adverts %}

        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <div class=" p-2 m-2 border border-info row bg-light text-primary">
                    <div class="col-sm-4">
                        <h2><p class="card-text">Souhaitez vous commencez la discussion avec : {{ advert.IdUser.login }} </p>  </h2>
                        <a class="btn btn-warning text-dark m-1" href="/tchat/{{ advert.IdUser.id }}_{{ app.user.id }}" role="button">Répondre</a>
                        </div>
                    </div>
                </div>
           </div>
        </div>
        {% endfor %}
    
{% endblock %}
