{% extends 'base.html.twig' %}

{% block title %}EasyAd{% endblock %}
{% block body %}
    <div class="container m-5">
        <div class="row p-3 m-2 border border-info">
            <div class="col-sm-3 ">
                Login
            </div>
            <div class="col-sm-3 offset-sm-3">
                {login}
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-primary">Primary</button>
            </div>
        </div>
        <div class="row p-3 m-2 border border-info">
            <div class="col-sm-3 ">
                note
            </div>
            <div class="col-sm-3 offset-sm-3">
                {note}
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-primary">Primary</button>
            </div>
        </div>
        <div class="row p-3 m-2 border border-info">
            <div class="col-sm-3 ">
                Age
            </div>
            <div class="col-sm-3 offset-sm-3">
                {age}
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-primary">Primary</button>
            </div>
        </div>
        <div class="row p-3 m-2 border border-info">
            <div class="col-sm-3 ">
                Description
            </div>
            <div class="col-sm-3 offset-sm-3">
                {Description}
            </div>
            <div class="col-sm-3">
                <button type="button" class="btn btn-primary">Primary</button>
            </div>
        </div>
    </div>
{% endblock %}