{% extends 'base.html.twig' %}

{% block body %}
    <div class="container m-5">
        <div class="row">
            <div class="col-sm-4 offset-sm-4">
                <div class=" p-2 m-2 border border-info d-flex justify-content-center">
                    <div class="m-3">
                        Login
                    </div>
                    <div class="m-3">
                        {login}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 offset-sm-4">
                <div class=" p-2 m-2 border border-info d-flex justify-content-center">
                    <div class="m-3">
                        age
                    </div>
                    <div class="m-3">
                        {age}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 offset-sm-4">
                <div class=" p-2 m-2 border border-info d-flex justify-content-center">
                    <div class="m-3">
                        descr
                    </div>
                    <div class="m-3">
                        {descr}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 offset-sm-4">
                <div class=" p-2 m-2 border border-info d-flex justify-content-center">
                    <div class="m-3">
                        Note
                    </div>
                    <div class="m-3">
                        {note}
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a class="btn btn-warning m-1">Change Password</a>
            <a class="btn btn-primary m-1" href="/modifyProfil">Modifier mon profil</a>
        </div>
    </div>
{% endblock %}