{% extends 'base.html.twig' %}

{% block title %}EasyAd - Ajout discipline{% endblock %}

{% block body %}
    <h1>Liste des disciplines</h1>
    <table class="table">
        <tbody>
        {% for discipline in listdiscipline %}
            <tr>
                <th scope="col">{{ discipline.name }}</th>
                <th scope="col"><a class="btn bg-danger text-light" href="/admin/removediscipline/{{ discipline.id }}">Supprimer</a></th>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="col-md-4 center-block">
        <a class="btn bg-danger text-light " style="" href="/admin/adddiscipline/">Ajouter discipline</a>
    </div>
{% endblock %}