{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Ici toutes les annonces !</h1>
            <p class="lead">En développement !</p>
        </div>
    </div>
    <div class = "BesoindeCSSUrgent">
        <table>
            <thead>
            <tr>
                <td>Texte</td>
                <td>Price</td>
                <td>Place</td>
                <td>Discipline</td>
            </tr>
            </thead>
            <tbody>
            {% for advert in adverts %}
                <tr>
                    <td>{{ advert.text }}</td>
                    <td>{{ advert.price }}</td>
                    <td>{{ advert.place }}</td>
                    {% for discipline in advert.disciplines %}
                        <td>{{ discipline.name }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}