{% extends 'base.html.twig' %}

{% block title %}EasyAd{% endblock %}
{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Ici toutes les annonces !</h1>
            <p class="lead">En développement !</p>
        </div>
    </div>
{% endblock %}